# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

*.pdb

*.ilk

/output/*
/obj/*
/*vs/*
*.vs*
/Middleware/VulkanSDK/1.3.280.0/Lib/*
/Middleware/VulkanSDK/1.3.280.0/Bin/*
/Middleware/VulkanSDK/1.3.280.0/Bin32/*
/Middleware/VulkanSDK/1.3.280.0/cmake/*
/Middleware/VulkanSDK/1.3.280.0/Config/*
/Middleware/VulkanSDK/1.3.280.0/Demos/*
/Middleware/VulkanSDK/1.3.280.0/installerResources/*
/Middleware/VulkanSDK/1.3.280.0/Lib32/*
/Middleware/VulkanSDK/1.3.280.0/share/*
/Middleware/VulkanSDK/1.3.280.0/Source/*
/Middleware/VulkanSDK/1.3.280.0/Templates/*
!/Middleware/VulkanSDK/1.3.280.0/Lib/vulkan-1.lib
/Middleware/glfw-3.4.bin.WIN64/docs
/Middleware/glfw-3.4.bin.WIN64/lib-static-ucrt
/Middleware/glfw-3.4.bin.WIN64/lib-vc2013
/Middleware/glfw-3.4.bin.WIN64/lib-vc2015
/Middleware/glfw-3.4.bin.WIN64/lib-vc2017
/Middleware/glfw-3.4.bin.WIN64/lib-vc2019
/Middleware/glfw-3.4.bin.WIN64/lib-vc2022/*
!/Middleware/glfw-3.4.bin.WIN64/lib-vc2022/glfw3_mt.lib
